body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F73D27;
    color: white;
    text-align: center;
}
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    vertical-align: middle;
}
.campaign {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.campaign div {
    flex: 1;
}
.campaign_div{
    max-width: 600px;
    margin-left: 100px;
}
.campaign h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: left;
}
.campaign p {
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 1.6;
    text-align: left;
}
.order-btn {
    background-color: #F73D27;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid white;
    display: inline-block;
}

.bucket-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}
.bucket-menu img {
    width: auto;
    margin: 0 10px;
}
.menu {
    background-color: white;
    padding: 20px 0;
}
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu img {
    width: 100px;
    margin: 0 10px;
}
.menu-item {
    color: black;
    text-align: center;
    margin: 0 15px;
}
.menu-item p {
    color: black;
    font-weight: bold;
}
.menu-btn {
    background-color: #ffcc00;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 20px 0;
    display: inline-block;
}